<!DOCTYPE html>
<html>
    <head>
        <title>Register at <%=fitnessData.mainName%></title>
        <link rel="stylesheet" type="text/css" href="/register.css">
    </head>
    <body>
        <h1>Register</h1>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/workout">Workouts</a>
            <a href="/workout/search">Search</a>
            <a href="/health/nutrition">Nutrition</a>
            <a href="/goals">Goals</a>
            <a href="login">Login</a>
        </nav>

        <% if (message && message.length > 0) { %>
            <ul style="color: red;">
                <% message.forEach(msg => { %>
                    <li><%= msg %></li>
                <% }) %>
            </ul>
        <% } %>

        <form method="POST" action="registered">
            <p>Email: <input id="email" type="text" name="email" value="<%= email %>" required/></p>
            <p>Username: <input id="username" type="text" name="username" value="<%= username %>" required/></p>
            <p>Password: <input id="password" type="password" name="password" value="<%= password %>" required/></p>
            <p>Age: <input id="age" type="text" name="age" value="<%= age %>" required/></p>
            <p>Gender: 
                <select id="gender" name="gender" required>
                    <option value="" disabled selected>Select your gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </p>
            <p>Height (cm): <input id="height" type="text" name="height" value="<%= height %>" required/></p>
            <p>Weight (kg): <input id="weight" type="text" name="weight" value="<%= weight %>" required/></p>
            <input type="submit" value="Register" />
          </form>
    </body>
</html>